################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Algorithms.Test/LinearSearch.Tests/bin/Debug/net8.0
/Algorithms.Test/LinearSearch.Tests/obj
/Algorithms/LinearSearch/bin/Debug/net8.0
/Algorithms/LinearSearch/obj/Debug/net8.0
/Algorithms/LinearSearch/obj
/.vs/
obj
obj/*
obj\*
/.vs
.vs
.vs\
.vs\*
.vs/*
bin\
bin/