################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Algorithms.Test/LinearSearch.Tests/bin/Debug/net8.0
/Algorithms.Test/LinearSearch.Tests/obj
/Algorithms/LinearSearch/bin/Debug/net8.0
/Algorithms/LinearSearch/obj/Debug/net8.0
/Algorithms/LinearSearch/obj
/.vs/ProjectEvaluation/algorithms.metadata.v7.bin
/.vs/ProjectEvaluation/algorithms.projects.v7.bin
/.vs/Algorithms/v17/.futdcache.v2
*.vsidx
/.vs/Algorithms/DesignTimeBuild/.dtbcache.v2
/.vs/Algorithms/v17/.suo
