################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Algorithms.Test/LinearSearch.Tests/bin/Debug/net8.0
/Algorithms.Test/LinearSearch.Tests/obj
/Algorithms/LinearSearch/bin/Debug/net8.0
/Algorithms/LinearSearch/obj/Debug/net8.0
/Algorithms/LinearSearch/obj
/.vs/
/.vs
.vs
.vs\
.vs\*
.vs/*

obj
obj/*
obj\*

bin\
bin/

/.vs/Algorithms/DesignTimeBuild
/.vs/Algorithms/DesignTimeBuild/.dtbcache.v2
/.vs/Algorithms/v17/
/.vs/Algorithms/v17/.suo
/Algorithms/BinarySearch/bin
/Algorithms/BinarySearch/bin/
/Algorithms/BinarySearch/bin/Debug/net8.0/BinarySearch.dll
/Algorithms/BinarySearch/bin/Debug/net8.0/BinarySearch.pdb

/Algorithms/BinarySearch/obj
/Algorithms/BinarySearch/obj/
/Algorithms/BinarySearch/obj/Debug/net8.0/ref/BinarySearch.dll
/Algorithms/BinarySearch/obj/Debug/net8.0/refint/BinarySearch.dll
/Algorithms/BinarySearch/obj/Debug/net8.0/BinarySearch.AssemblyInfo.cs
/Algorithms/BinarySearch/obj/Debug/net8.0/BinarySearch.AssemblyInfoInputs.cache
/Algorithms/BinarySearch/obj/Debug/net8.0/BinarySearch.csproj.FileListAbsolute.txt
/Algorithms/BinarySearch/obj/Debug/net8.0/BinarySearch.dll
/Algorithms/BinarySearch/obj/Debug/net8.0/BinarySearch.pdb
/Algorithms/BinarySearch/obj/Debug/net8.0/BinarySearch.sourcelink.json
/Algorithms.Test/BinarySearch.Tests/bin/Debug/net8.0/BinarySearch.dll
/Algorithms.Test/BinarySearch.Tests/bin/Debug/net8.0/BinarySearch.pdb
/Algorithms.Test/BinarySearch.Tests/bin/Debug/net8.0/BinarySearch.Tests.deps.json
/Algorithms.Test/BinarySearch.Tests/bin/Debug/net8.0/BinarySearch.Tests.dll
/Algorithms.Test/BinarySearch.Tests/bin/Debug/net8.0/BinarySearch.Tests.pdb
/Algorithms.Test/BinarySearch.Tests/obj/Debug/net8.0/ref/BinarySearch.Tests.dll
/Algorithms.Test/BinarySearch.Tests/obj/Debug/net8.0/refint/BinarySearch.Tests.dll
/Algorithms.Test/BinarySearch.Tests/obj/Debug/net8.0/BinarySearch.Tests.assets.cache
/Algorithms.Test/BinarySearch.Tests/obj/Debug/net8.0/BinarySearch.Tests.csproj.AssemblyReference.cache
/Algorithms.Test/BinarySearch.Tests/obj/Debug/net8.0/BinarySearch.Tests.csproj.CoreCompileInputs.cache
/Algorithms.Test/BinarySearch.Tests/obj/Debug/net8.0/BinarySearch.Tests.csproj.FileListAbsolute.txt
/Algorithms.Test/BinarySearch.Tests/obj/Debug/net8.0/BinarySearch.Tests.dll
/Algorithms.Test/BinarySearch.Tests/obj/Debug/net8.0/BinarySearch.Tests.genruntimeconfig.cache
/Algorithms.Test/BinarySearch.Tests/obj/Debug/net8.0/BinarySearch.Tests.pdb
/Algorithms.Test/BinarySearch.Tests/obj/Debug/net8.0/BinarySearch.Tests.sourcelink.json
/Algorithms.Test/BinarySearch.Tests/obj/BinarySearch.Tests.csproj.nuget.dgspec.json
/Algorithms.Test/BinarySearch.Tests/obj/project.assets.json
/Algorithms.Test/BinarySearch.Tests/obj/project.nuget.cache
/Algorithms/BinarySearch/obj/Debug/net8.0/BinarySearch.assets.cache
/Algorithms/BinarySearch/obj/BinarySearch.csproj.nuget.dgspec.json
/Algorithms/BinarySearch/obj/project.assets.json
/Algorithms/BinarySearch/obj/project.nuget.cache
/Algorithms/BinarySearch/obj/Debug/net8.0/BinarySearch.GeneratedMSBuildEditorConfig.editorconfig
